In [4]:
import os
os.name

'nt'

In [5]:
os.getcwd()

'C:\\Users\\melen\\Dropbox\\Python\\statistic_analysis'

In [12]:
path = 'C:\\Users\\melen\\Dropbox\\Python\\statistic_analysis\\db'

In [13]:
os.chdir(path)

In [14]:
os.listdir('.')

['bicicletas-compartidas.csv']

In [15]:
df = pd.read_csv('bicicletas-compartidas.csv')

In [16]:
df.head()

,fecha,bicis-compartidas,temp-obs,sens-temp,hum,viento,codigo-clima,festivo,findesemana,cuartil-ano
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [17]:
df.columns

Index(['fecha', 'bicis-compartidas', 'temp-obs', 'sens-temp', 'hum', 'viento',
       'codigo-clima', 'festivo', 'findesemana', 'cuartil-ano'],
      dtype='object')

In [18]:
df.shape

(17414, 10)